@media (min-width : 376px) {
    .artist-container {
        float: left;
        border-right: 1px solid white;
    }

}
.artist-container {
    height: 192px;
    font-family: monospace;
    text-align: center;
}
@media (max-width : 376px) {
    .artist-container {
        height: 350px;
        font-family: monospace;
    }
}

.artist-name {
    width: 150px;
}

@media (max-width : 376px) {
    .artist-name{
        width:50%;
        position: relative;
        bottom: 30px;
        background-color: white;
    }

}

.artist-image{
    width: 150px;
    height: 150px;
}
@media (max-width : 376px) {
    .artist-image{
        width:350px;
        height:350px;
    }
}
