@media only screen and (min-width : 320px) {
    .artist-container {
        float: left;
        border-right: 1px solid white;
    }

}

.artist-container{
    height: 192px;
}
.artist-name{
    width:150px;
    text-align: center;
}
.artist-image{
    width:150px;
    height:150px;
}
